# R Specific
.Rhistory
.Rdata
.Rproj.user/

# Logs
logs/*
*.log

# Environment and Dependencies
# Exclure tout le dossier renv sauf activate.R
renv/*
!renv/activate.R
.Renviron

# Database files
data/*.sqlite

# Docker files
*.tar

# reultats
res/*.png